<div class="container">
    <div class="ml-3 text-white">
    <div class="introtext">
        <h1 text-align="left" class=" ml-5" style="color: rgb(119, 211, 65);">Intro text</h1>
        <h3 class="text-black ml-5" style="font-family: 'Times New Roman', Times, serif; color:whitesmoke;" >Regular exercise and physical activity promotes strong muscles and bones. It improves respiratory, cardiovascular health, and overall health. Staying active can also help you maintain
             a healthy weight, reduce your risk for type 2 diabetes, 
             heart disease, and reduce your risk for some cancers..</h3>
             <br>
             <br>
             <h2 class="ml-5" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: rgb(214, 252, 0);">
                 WAKE UP BEAUTY ITS TIME TO BEAST
             </h2>
    </div>
    <br>
    <br>
    </div>
</div>


<div class="text-center text-white">
<div>
    <button class="btn-lg btn-success" (click)="navpage()" >Apply For Trainer</button>
</div>
</div>



